@import "tailwindcss";

@layer components {
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 5px;
    background-color: #ddd;
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background-size: cover;
  }

  .Mercury::-webkit-slider-thumb {
    background-image: url('/Mercúrio.png');
  }

  .Venus::-webkit-slider-thumb {
    background-image: url('/Vênus.png');
  }

  .Earth::-webkit-slider-thumb {
    background-image: url('/Terra.png');
  }

  .Mars::-webkit-slider-thumb {
    background-image: url('/Marte.png');
  }

  .Jupiter::-webkit-slider-thumb {
    background-image: url('/Júpiter.png');
  }

  .Saturn::-webkit-slider-thumb {
    background-image: url('/Saturno.png');
  }

  .Uranus::-webkit-slider-thumb {
    background-image: url('/Urano.png');
  }

  .Neptune::-webkit-slider-thumb {
    background-image: url('/Netuno.png');
  }
}
