@import "tailwindcss";

@theme {
    --shadow-bar: 6px 5px 20px rgba(0, 0, 0, 0.4);
    --shadow-nav: 0px 0px 10px rgba(35, 66, 135, 0.5);
    --color-bar: oklch(1 0 0 / 8.24%);
    --color-nav: oklch(1 0 0 / 5.49%);
}